    <ul>
        <li><a href="{% url 'lista_PerfilUsuario' %}">Perfil Usuarios </a></li>
        <li><a href="{% url 'lista_Cesta' %}">Cestas ordenadas por fecha de creación </a></li>
        <li><a href="{% url 'dame_usuario' 3%}">Datos del usuario pasando su ID</a></li>
        <li><a href="{% url 'lista_descuentos' 20%}">Descuentos que son del 20 porciento o del 25 ordenados por fechas</a></li>
        <li><a href="{% url 'lista_marcas' 'Ropa' 'Francia'%}">Marcas que en su descripción contiene la palabra Ropa y que son de Francia</a></li>
        <li><a href="{% url 'lista_prendas' %}">Prendas que no tienen ningun ususario.</a></li>
        <li><a href="{% url 'lista_reseñas' %}">Ultima reseña publicada.</a></li>
        <li><a href="{% url 'lista_pedido_prendas' 2 %}">La lista de prendas que pertenecen a un pedido.</a></li>
        <li><a href="{% url 'lista_detallepedido_total' %}">Lista de los detalles de los pedidos y la suma del precio total de ellos.</a></li>
        <li><a href="{% url 'inventario_minimo' 40 %}">Ver inventarios con un stock actual menor de 40.</a></li>
    </ul>
