{% extends "principal.html" %}

{% block contenido %}
    <h1>Perfiles Usuario</h1>

    <table border="1" cellpadding="5" cellspacing="0">
        <thead>
            <tr>
                <th>Biografía</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Sitio Web</th>
                <th>Usuario</th>
            </tr>
        </thead>
        <tbody>
            {% for perfil in lista_PerfilUsuario %}
                {% include "./partials/_perfil_item.html" %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
