{% extends "principal.html" %}

{% block contenido %}
    <h1>Detalle de Pedidos</h1>

    <table border="1" cellpadding="5" cellspacing="0">
        <thead>
            <tr>
                <th>Pedido</th>
                <th>Prenda</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for detalle in detalles %}
                {% include "./partials/_detalles_item.html" %}
            {% endfor %}
        </tbody>
    </table>

    <h1>Precio de todos los pedidos:</h1>
    <h2>{{ total_precio }} euros.</h2>

    <br>
    <br>
{% endblock %}
