<html>
<head>
    <title>Inventario</title>
</head>
<body>

<h1>Inventario</h1>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>Prenda</th>
            <th>Cantidad Disponible</th>
            <th>Ubicación Almacén</th>
            <th>Stock Mínimo</th>
            <th>Stock Máximo</th>
            <th>Marca</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        {% for i in lista_inventario %}
        <tr>
            <td>{{ i.prenda.nombre }}</td>
            <td>{{ i.cantidad_disponible }}</td>
            <td>{{ i.ubicacion_almacen }}</td>
            <td>{{ i.stock_minimo }}</td>
            <td>{{ i.stock_maximo }}</td>
            <td>{{ i.prenda.marca.nombre }}</td>
            <td>{{ i.prenda.precio }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
