{% extends "principal.html" %}

{% block contenido %}
    <h1 style="text-align:center;">Últimas reseñas publicadas</h1>

    {% if lista_reseñas %}
        <table>
            <thead>
                <tr>
                    <th>Prenda</th>
                    <th>Calificación</th>
                    <th>Comentario</th>
                    <th>Fecha</th>
                    <th>Recomendado</th>
                    <th>Usuarios</th>
                </tr>
            </thead>
            <tbody>
                {% for reseña in lista_reseñas %}
                    {% include "./partials/_reseña_item.html" %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p style="text-align:center;">No hay reseñas publicadas aún.</p>
    {% endif %}
{% endblock %}
