{% extends "principal.html" %}

{% block contenido %}
    <h1>Marcas</h1>

    <table border="1" cellpadding="5" cellspacing="0">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>País de origen</th>
                <th>Descripción</th>
                <th>Año fundación</th>
                <th>Prendas</th>
            </tr>
        </thead>
        <tbody>
            {% for m in lista_marcas %}
                {% include "./partials/_marcas_item.html" %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
