{% extends "principal.html" %}

{% block contenido %}
    <h1>Descuentos</h1>

    <table border="1" cellpadding="5" cellspacing="0">
        <thead>
            <tr>
                <th>Código</th>
                <th>Porcentaje</th>
                <th>Estado</th>
                <th>Fecha de expiracion</th>
                <th>Prenda</th>
            </tr>
        </thead>
        <tbody>
            {% for d in lista_descuentos %}
                {% include "./partials/_descuentos_item.html" %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
