<tr>
    <td>{{ d.codigo }}</td>

    <td>
        {% if d.porcentaje %}
            {{ d.porcentaje }} % 
        {% else %}
            No está activo
        {% endif %}
    </td>

    <td>
        {% if d.activo != False %}
            Esta Activo
        {% else %}
            No está activo
        {% endif %}
    </td>

    <td>{{ d.fecha_expiracion|date:"d-m-Y" }}</td>
    <td>
        {% for prenda in d.prendas.all %}
            {{ prenda.nombre }}
        {% endfor %}
    </td>
</tr>
