<tr>
    <td>
        {{ reseña.prenda.nombre }}
    </td>
    <td>
        {{ reseña.calificacion }}
    </td>
    <td>
        {{ reseña.comentario }}
    </td>
    <td>
        {{ reseña.fecha|date:"d-m-Y" }}
    </td>
    <td>
        {% if reseña.calificacion > 4 and reseña.recomendado %}
            Muy recomendado.
        {% elif reseña.calificacion and reseña.recomendado %}
            Recomendado.
        {% else %}
            No recomendad.
        {% endif %}
    </td>
    <td>
        {% for usuario in reseña.usuarios.all %}
            {{ usuario.nombre }}{% if not forloop.last %}, {% endif %}
        {% empty %}
            Ninguno
        {% endfor %}
    </td>
</tr>

