<!DOCTYPE html>
<html lang="es">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>Eclipsados</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% block cabecera %}
        <img src="{% static 'imagenes/logo.png' %}" href="index.html">
    {% include "header.html" %}
    {% endblock %}

    {% block contenido %}
    {% endblock %}

    {% include "footer.html" %}
    
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>


